/* Make sure you specify a "height: 100vh", "width: 100vw", and "margin: 0" for all your pages */
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: block;
}

/* You should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
.section {
	height: 30%;
	width: 100%;
}
.pic-holder{
	height:40%;
	width:100%;
	display:flex;
	
}
.blue {
	background-color: #4C4CFF;
}

.red {
	background-color: #990000;
}
.pink {
	background-color: #FFB6C1;
}
/* Use this class on the PARENT of whatever you are trying to center; remember that the PARENT tells the CHILD what to do! */
/* NOTE: Centering content only works when the display property is "flex"! */
.center-content {
	width:calc(100%/3);
	height:100%;
}

/* Use this class on your image to restrict the size so it stays completely within it's parent div */
.7rings{
	content:url("image/ariana.jpg");
}

.charles{
content:url("image/james.jpg");
}

.arrow{
	content:url("image/bulls_eye.png");
}
.restrict-img-size{
	max-height: 100%;
	max-width:100%;
}
